In [ ]:
# กรุณารันเซลล์นี้หากคุณใช้งาน Google Colab เพื่อทำข้อสอบ
!pip install -U pip
!pip install -U datascience ipytest rich
!wget https://raw.githubusercontent.com/ai-builders/entrance-exam-2022/main/sportsday.csv

In [ ]:
# กรุณารันเซลลืนี้ โดยไม่ต้องแก้ไขโค้ดใด ๆ ทั้งสิ้น
from __future__ import annotations

import math

import ipytest
import numpy as np
import pandas as pd
from pytest import approx

ipytest.autoconfig()

# แบบฝึกหัดที่ 1

จงเขียนโปรแกรม python โดยแปลงค่าจาก Km เป็น Mile โดยก าหนดให้ 1 Km เท่ากับ 0.621371 Mile

 Enter the value in kilometers : 1

 The entered value in Miles: 0.621371

In [4]:

    # เขียนโค้ดของคุณตรงนี้
k = input("Enter the value in kilometers : ")
m = float(k) * 0.621371
print("The entered value in Miles: " , m)

Enter the value in kilometers : 0.5
The entered value in Miles:  0.3106855

# แบบฝึกหัดที่ 2

จงเขียนโปรแกรม python โดยกรอกข้อมูลตัวเลข 3 ค่า แล้วหแสดงผลค่าที่มีน้อยที่สุด

Enter 1st number: 100

Enter 2nd number: 50

Enter 3rd number: 250

The smallest number among 100 , 50 and 250 is: 50

In [6]:

    # เขียนโค้ดของคุณตรงนี้
a = input("Enter 1st number: ")
b = input("Enter 2nd number: ")
c = input("Enter 3rd number: ")
if a < b then a = a

Enter 1st number: 100
Enter 2nd number: 50
Enter 3rd number: 250